body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none !important;
    color: black !important;
}

button{
    background-color: #fff;
    border: none;
}

code, pre{
    background-color: rgb(236, 236, 236);
}

.box{
    border: 1px solid;
    border-radius: 1rem;
    width: 300px;
    padding: 15px;
    text-align: center;
}

#ex2{
    display: none;
}